@page "/models"

<h1>Hello, world!</h1>
--------------------------------------------------------------
ModelComponentDemo
<br />
<br />
<br />
<WeatherForecastView Key="1" />
<br />
<br />
<br />
--------------------------------------------------------------
Layout Demo
<br />
<br />
<br />
<Site.Client.Layout.LayoutView Key="MainLayout" />
<br />
<br />
<br />
--------------------------------------------------------------
List Demo
<br />
<br />
<br />