@using Models;
@using Site.Client.Adapter.Blazor;

@inherits ModelsComponent<WeatherForecast>

<h3>WeatherForecast</h3>

@if (DataModel == null)
{
<div>LoadingData</div>
}
else
{
    @DataModel.Summary;
}

